<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
</head>
<body>
  <section>
  <a href="{{ route('AuthController.redirect')}}">Log in to facebook</a>
  </section>
</body>
</html>
